<div class="container bg-secondary p-4 mt-5">
    <h2 class="mt-4 text-light">Blogs</h2>
    <div class="row mt-4">
    <div class="col-4" *ngFor="let blog of blogs ; index as blogId">
        <div class="productdetails m-2 border p-4 bg-light">
     <h3>
       <a [routerLink]="['/blogs', blogId]">
         {{ blog.heading }}
       </a>
     </h3>
     <img class="img-fluid"src="{{blog.image}}" alt=" {{blog.name}} ">
     <div class="text-center mt-2">
     <button type="button" class="btn btn-success" [routerLink]="['/blogs', blogId]" >More Info</button>
    </div>
    </div>
    
    
    </div>
    </div>
    </div>


